@{
    ViewBag.Title = "Contact Us";
}

<style>
    .intro-text.top-gap--standard.bottom-gap--standard.centred h2 {
        font-size: 2.5rem;
        text-align: center;
        color: #000;
        font-family: Roboto Condensed,sans-serif;
        font-weight: 700;
    }

    .hidden {
        display: none !important;
    }
    .nested-accordion > section.panel {
        margin-bottom: 1.25rem;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        display: block;
        transition: all 0.25s ease-in-out;
    }
    .nested-accordion > section > .accTitle {
        height: 6.5rem;
        font-size: 1.2rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        background-color: #FFF;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        font-weight: bold;
        font-family: "Roboto Condensed", sans-serif;
        line-height: 1.3;
        color: #000;
        cursor: pointer;
    }
    .accordion .accTitle {
        background: #f6f6f6;
        margin: 0;
    }

</style>   

<link type="text/css" rel="stylesheet" id="js-frontend-template-style--complex-accordion" href="https://www.monash.edu/__data/assets/css_file/0005/2180264/complex-accordion-frontend.css?v=0.2.0">
<!-- Social Media Share Bar: Not Configured -->
<div class="intro-text top-gap--standard bottom-gap--standard centred" >
    <div class="content-wrapper" >
        <h2> Contact us</h2>
    </div>
</div>


<div role="tablist" class="accordion nested-accordion js-frontend-complex-accordion uber-accordion">
    <div class="hidden">
        <span class="hidden nested-accordion__expand-text">View</span>
        <span class="hidden nested-accordion__collapse_text">Close</span>
    </div>
    <section class="panel section1 Online-1 close">
        <h3 class="accTitle uber-accordion__button uber-accordion__target" id="Online-1" aria-controls="Online-1" role="region" aria-expanded="false" data-expanded-by-default="false" data-click-event="monash.accordion.toggle" data-type="nested" data-title="Online" data-position="1">
            <span class="accTitle__icon"><img src="https://www.monash.edu/__data/assets/file/0009/2179611/monitor.svg" alt=""></span>
            <span class="accTitle__text">Online</span>
            <span class="accTitle__toggle-wrapper">
                <a class="accTitle__toggle" href="#Online-1" rel="1">
                    <span class="accTitle__toggle-text">View</span>
                    <span class="accTitle__toggle-arrow"><img src="https://www.monash.edu/__data/assets/file/0011/2179901/arrow-outline-right.svg" alt="View"></span>
                </a>
            </span>
        </h3>
        <div class="accContent" aria-labelledby="Online-1" aria-hidden="true" role="tabpanel" style="display: none;">
            <div class="accContent__inner">
                <div class="accContent__wrapper">

                    <div id="content_container_2666379">
                        <p>Contact us at&nbsp;<a href="https://www.monash.edu/connect/contact-us">Monash Connect</a></p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="panel section2 Telephone-2">
        <h3 class="accTitle uber-accordion__button uber-accordion__target" id="Telephone-2" aria-controls="Telephone-2" role="region" aria-expanded="false" data-click-event="monash.accordion.toggle" data-type="nested" data-title="Telephone" data-position="2">
            <span class="accTitle__icon"><img src="https://www.monash.edu/__data/assets/file/0004/2179633/phone-receiver.svg" alt=""></span>
            <span class="accTitle__text">Telephone</span>
            <span class="accTitle__toggle-wrapper">
                <a class="accTitle__toggle" href="#Telephone-2" rel="2">
                    <span class="accTitle__toggle-text">View</span>
                    <span class="accTitle__toggle-arrow"><img src="https://www.monash.edu/__data/assets/file/0011/2179901/arrow-outline-right.svg" alt="View"></span>
                </a>
            </span>
        </h3>
        <div class="accContent" aria-labelledby="Telephone-2" aria-hidden="true" role="tabpanel" style="display: none;">
            <div class="accContent__inner">
                <div class="accContent__wrapper">

                    <div id="content_container_2666413">
                        <p>Telephone: +61 3 9905 5054<br>Monday to Friday 8am to 8pm (AEDT), Weekends 1pm to 5pm (AEDT)</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="panel section3 Postal_address-3">
        <h3 class="accTitle uber-accordion__button uber-accordion__target" id="Postal_address-3" aria-controls="Postal_address-3" role="region" aria-expanded="false" data-click-event="monash.accordion.toggle" data-type="nested" data-title="Postal address" data-position="3">
            <span class="accTitle__icon"><img src="https://www.monash.edu/__data/assets/file/0011/2179595/mail.svg" alt=""></span>
            <span class="accTitle__text">Postal address</span>
            <span class="accTitle__toggle-wrapper">
                <a class="accTitle__toggle" href="#Postal_address-3" rel="3">
                    <span class="accTitle__toggle-text">View</span>
                    <span class="accTitle__toggle-arrow"><img src="https://www.monash.edu/__data/assets/file/0011/2179901/arrow-outline-right.svg" alt="View"></span>
                </a>
            </span>
        </h3>
        <div class="accContent" aria-labelledby="Postal_address-3" aria-hidden="true" role="tabpanel" style="display: none;">
            <div class="accContent__inner">
                <div class="accContent__wrapper">

                    <div id="content_container_2666422">
                        <p>Monash University Library<br>40 Exhibition Walk<br>Monash University<br>Victoria 3800 Australia</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="panel section4 Locations_and_opening_hours-4">
        <h3 class="accTitle uber-accordion__button uber-accordion__target" id="Locations_and_opening_hours-4" aria-controls="Locations_and_opening_hours-4" role="region" aria-expanded="false" data-click-event="monash.accordion.toggle" data-type="nested" data-title="Locations and opening hours" data-position="4">
            <span class="accTitle__icon"><img src="https://www.monash.edu/__data/assets/file/0005/2179598/map.svg" alt=""></span>
            <span class="accTitle__text">Locations and opening hours</span>
            <span class="accTitle__toggle-wrapper">
                <a class="accTitle__toggle" href="#Locations_and_opening_hours-4" rel="2">
                    <span class="accTitle__toggle-text">View</span>
                    <span class="accTitle__toggle-arrow"><img src="https://www.monash.edu/__data/assets/file/0011/2179901/arrow-outline-right.svg" alt="View"></span>
                </a>
            </span>
        </h3>
        <div class="accContent" aria-labelledby="Locations_and_opening_hours-4" aria-hidden="true" role="tabpanel" style="display: none;">
            <div class="accContent__inner">
                <div class="accContent__wrapper">

                    <div id="content_container_2666431">
                        <ul><li><a href="https://www.monash.edu/library/libraries/locations-and-opening-hours">Libraries</a></li></ul><ul><li><a href="https://www.monash.edu/library/libraries/locations-and-opening-hours/calendar">Opening hours</a></li></ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="panel section5 Librarians-5">
        <h3 class="accTitle uber-accordion__button uber-accordion__target" id="Librarians-5" aria-controls="Librarians-5" role="region" aria-expanded="false" data-click-event="monash.accordion.toggle" data-type="nested" data-title="Librarians" data-position="5">
            <span class="accTitle__icon"><img src="https://www.monash.edu/__data/assets/file/0003/2179632/person.svg" alt=""></span>
            <span class="accTitle__text">Librarians</span>
            <span class="accTitle__toggle-wrapper">
                <a class="accTitle__toggle" href="#Librarians-5" rel="2">
                    <span class="accTitle__toggle-text">View</span>
                    <span class="accTitle__toggle-arrow"><img src="https://www.monash.edu/__data/assets/file/0011/2179901/arrow-outline-right.svg" alt="View"></span>
                </a>
            </span>
        </h3>
        <div class="accContent" aria-labelledby="Librarians-5" aria-hidden="true" role="tabpanel" style="display: none;">
            <div class="accContent__inner">
                <div class="accContent__wrapper">

                    <div id="new_content_container_875642_2658609">
                        <p>For graduate research students and research staff who need specialist advice.</p><p><em>Students who need help with their study and assignments can <a href="https://www.monash.edu/library/help/meet-with-a-librarian">meet with a librarian online</a> to get expert advice.</em></p><h2>Liaison Librarians by faculty</h2><ul><li><strong>Art Design and Architecture:</strong> <a href="mailto:lib-mada-librarians@monash.edu">lib-mada-librarians@monash.edu</a></li><li><strong>Arts: </strong><a href="mailto:lib-arts-librarians@monash.edu">lib-arts-librarians@monash.edu</a></li><li><strong>Business and Economics: </strong><a href="mailto:lib-buseco-librarians@monash.edu">lib-buseco-librarians@monash.edu</a></li><li><strong>Education: </strong><a href="mailto:lib-education-librarians@monash.edu">lib-education-librarians@monash.edu</a></li><li><strong>Engineering: </strong><a href="mailto:lib-engineering-librarians@monash.edu">lib-engineering-librarians@monash.edu</a></li><li><strong>Information Technology: </strong><a href="mailto:lib-it-librarians@monash.edu">lib-it-librarians@monash.edu</a></li><li><strong>Law: </strong><a href="mailto:lib-lawteam-l@monash.edu">lib-lawteam-l@monash.edu</a></li><li><strong>Medicine, Nursing and Health Sciences: </strong><a href="mailto:lib-mnhs-librarians@monash.edu">lib-mnhs-librarians@monash.edu</a></li><li><strong>Pharmacy and Pharmaceutical Sciences: </strong><a href="mailto:lib-pharmteam@monash.edu">lib-pharmteam@monash.edu</a></li><li><strong>Science: </strong><a href="mailto:lib-science-librarians@monash.edu">lib-science-librarians@monash.edu</a></li></ul><h2>Specialists</h2><ul><li><strong>Open Scholarship and Data Services: </strong><a href="mailto:researchdata@monash.edu">researchdata@monash.edu</a></li><li><strong>Copyright: </strong><a href="mailto:University.Copyright@monash.edu">University.Copyright@monash.edu</a></li></ul><h2>For institutes and centres</h2><p>Librarians provide advice on resources and research skills to staff of Monash's renowned Institutes and Centres.</p><ul><li>Check our <a href="https://www.monash.edu/library/contact/find-a-librarian/institutes-and-centres"> Institutes and Centres</a> page&nbsp;to find out who to contact</li></ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="panel section6 Senior_staff-6">
        <h3 class="accTitle uber-accordion__button uber-accordion__target" id="Senior_staff-6" aria-controls="Senior_staff-6" role="region" aria-expanded="false" data-click-event="monash.accordion.toggle" data-type="nested" data-title="Senior staff" data-position="6">
            <span class="accTitle__icon"><img src="https://www.monash.edu/__data/assets/file/0011/2179631/people.svg" alt=""></span>
            <span class="accTitle__text">Senior staff</span>
            <span class="accTitle__toggle-wrapper">
                <a class="accTitle__toggle" href="#Senior_staff-6" rel="2">
                    <span class="accTitle__toggle-text">View</span>
                    <span class="accTitle__toggle-arrow"><img src="https://www.monash.edu/__data/assets/file/0011/2179901/arrow-outline-right.svg" alt="View"></span>
                </a>
            </span>
        </h3>
        <div class="accContent" aria-labelledby="Senior_staff-6" aria-hidden="true" role="tabpanel" style="display: none;">
            <div class="accContent__inner">
                <div class="accContent__wrapper">

                    <div id="content_container_2666450">
                        <ul><li><strong>University Librarian,&nbsp;</strong><a href="mailto:robert.gerrity@monash.edu">Bob Gerrity</a></li><li><strong>Director, Academic Services</strong>, <a href="http://staffsearch.monash.edu/?name=david+groenewegen&amp;staffsearchSubmit=Search">David Groenewegen</a></li><li><strong>Director, Collections and Technology:</strong> <a href="http://staffsearch.monash.edu/?name=Monika+Szunejko&amp;staffsearchSubmit=Search">Monika Szunejko</a></li><li><strong>Director, Operations &amp; Management Services</strong>,&nbsp;<a href="http://staffsearch.monash.edu/?name=kaye+sullivan&amp;staffsearchSubmit=Search">Kaye Sullivan</a></li></ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>







    <address >
    One Microsoft Way<br / >
    Redmond, WA 98052-6399<br / >
    <abbr title="Phone" > P:</abbr >
    425.555.0100
    </address >

    <address >
    <strong > Support:</strong > <a href="mailto:Support@example.com" > Support@example.com</a > <br / >
    <strong > Marketing:</strong > <a href="mailto:Marketing@example.com" > Marketing@example.com</a >
    </address >
